.sidebar {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 220px;
  padding: 30px 0;
  z-index: 9999;
}

.sidebar__logo {
  margin-left: 30px;
  height: 55px;
  margin-top: -20px;
}

.sidebar__list {
  margin: 20px 0 0;
  padding: 0;
}

.sidebar__item a,
.sidebar__item button {
  outline: none;
  background-color: transparent;
  border: none;
  display: block;
  text-align: left;
  padding: 11px 30px;
  text-decoration: none;
  color: #909090;
  font: inherit;
  font-size: 16px;
  transition: 0.3s ease-in-out;
  transition-property: background-color, color;
  cursor: pointer;
}

.sidebar__item button {
  width: 100%;
}

.sidebar__item a svg,
.sidebar__item button svg {
  height: 17px;
  vertical-align: middle;
  margin-top: -3px;
  margin-right: 5px;
}

.sidebar__item a path,
.sidebar__item button path {
  fill: #909090;
  transition: fill 0.3s ease-in-out;
}

.sidebar__item a:hover,
.sidebar__item button:hover {
  background-color: #4170f1;
  color: #fff;
}

.sidebar__item_danger a:hover,
.sidebar__item_danger button:hover {
  background-color: #f14141;
}

.sidebar__item a:hover path,
.sidebar__item button:hover path {
  fill: #fff;
}

@media print {
  .sidebar {
    display: none;
  }
}
